public_subnet_b_cidr="your first public subnet cidr"
vpc_cidr="your second public subnet cidr"
public_subnet_a_cidr="your second public subnet cidr"
private_subnet_a_cidr="your first private subnet cidr"
private_subnet_b_cidr="your second private subnet cidr"
aws_access_key="your aws access key"
aws_secret_key="your aws secret key"
aws_region="your region"
PUBLIC_KEY="your .pub file "